:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondery-footer-color: rgba(255, 255, 255, 0.6);
  --transition-funktion: cubic-bezier(0.4, 0, 0.2, 1);
  --primeri-font-family: 'Roboto', sans-serif;
  --secondery-font-family: 'Raleway', sans-serif;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: var(--primeri-font-family);
  color: var(--primeri-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.logo {
  font-family: var(--secondery-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--transition-funktion);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  padding: 20px 15px;
  top: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 250ms var(--transition-funktion), visibility 250ms var(--transition-funktion), opacity 250ms var(--transition-funktion);
}

.backdrop.is-hidden {
  transform: scale(1.25);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.66;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.header {
  border-bottom: #ececec 1px solid;
}

.header__container {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: flex-start;
  }
}

.logo--dark {
  color: #000000;
  margin-right: auto;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms var(--transition-funktion);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primeri-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms var(--transition-funktion);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-btn {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover .menu-btn__icon {
  fill: var(--accent-color);
}

.menu-btn:focus .menu-btn__icon {
  fill: var(--accent-color);
}

.menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 48px 0 48px 30px;
  transform: scale(1);
  transition: transform 250ms var(--transition-funktion), visibility 250ms var(--transition-funktion), opacity 250ms var(--transition-funktion);
}

.menu.is-hidden {
  transform: translateX(100%);
}

.menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.menu__close-btn:hover .menu__close-icon {
  fill: var(--accent-color);
}

.menu__close-btn:focus .menu__close-icon {
  fill: var(--accent-color);
}

.navigation {
  margin-bottom: auto;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link:hover {
  color: var(--accent-color);
}

.navigation__link--curreent-color {
  color: var(--accent-color);
}

.navigation__tel-link {
  margin-bottom: 32px;
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--accent-color);
}

.navigation__adres-link {
  margin-bottom: 64px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--primeri-text-color);
  text-decoration: none;
}

.navigation__adres-link:hover {
  color: var(--accent-color);
}

.navigation__adres-link:hover:focus {
  color: var(--accent-color);
}

.networks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link--stick:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 2px;
  height: 22px;
  background-color: var(--primeri-text-color);
}

.networks__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-decoration: none;
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mobile2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desktop2x-min.jpg);
  }
}

.hero__tile {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px auto;
  display: block;
  max-width: 400px;
}

@media screen and (min-width: 1200px) {
  .hero__tile {
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.advantages__iconholder {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}

.advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--display-none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--display-none {
    display: block;
  }
}

.section--no-padding-top {
  padding-top: 0px;
}

.techniques {
  display: flex;
  margin-right: -30px;
}

.techniques__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.techniques__wrap {
  position: relative;
}

.techniques__text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section--other-background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team-card__thumb {
  padding: 30px 0;
}

.team__title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
  background-color: #fff;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-funktion);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--transition-funktion);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.companies__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .companies__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .companies__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.companies__link {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;
  transition: color 250ms var(--transition-funktion);
}

.companies__link:hover, .companies__link:focus {
  color: var(--accent-color);
}

.companies__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.container--flexer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container--flexer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container--flexer {
    text-align: start;
    flex-wrap: nowrap;
  }
}

.logo--indent {
  display: block;
  margin-bottom: 20px;
}

.logo--light {
  color: #ffffff;
}

.adress {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .adress {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .adress {
    margin-bottom: 0;
    margin-right: 70px;
    flex-grow: 1;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress__link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondery-footer-color);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms var(--transition-funktion);
}

.adress__link:hover, .adress__link:focus {
  color: #ffffff;
}

.adress__link--colorizer {
  color: #ffffff;
}

.footer-socials {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-right: 93px;
    align-items: flex-start;
  }
}

.footer-socials__title, .subscribe__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transition-funktion);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}

.footer-socials__icon {
  fill: #ffffff;
}

.subscribe {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    text-align: start;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    flex-direction: row;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  transition: border 250ms var(--transition-funktion);
}

.subscribe__input:focus {
  border: 1px solid #ffffff;
}

.subscribe__input::placeholder {
  color: var(--secondery-footer-color);
  transition: color 250ms var(--transition-funktion);
}

.subscribe__input:focus::placeholder {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.button--flexer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
  pointer-events: none;
}

.filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 40px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 5px 22px;
  transition: background-color 250ms var(--transition-funktion), box-shadow 250ms var(--transition-funktion), color 250ms var(--transition-funktion);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.grid__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .grid__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .grid__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.description--height {
  height: 148px;
}

.product {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--transition-funktion);
}

.product:hover, .product:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__img-holder {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--transition-funktion);
}

.product:hover .product__overlay,
.product:focus .product__overlay {
  transform: translateY(-100%);
}

.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.description__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.description__text {
  color: var(--primeri-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.modal {
  margin-right: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 550px;
  max-height: 609px;
  background-color: #ffffff;
  background-origin: content-box;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 460px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 23px;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--transition-funktion);
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal__close-button {
    top: 8px;
    right: 8px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.form__label, .coment {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input {
  display: block;
  position: relative;
  margin-top: 4px;
}

.input__row {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--transition-funktion);
}

.input__row:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--transition-funktion);
}

.input__row:focus + .input__icon {
  fill: var(--accent-color);
}

.coment__textarea {
  display: block;
  margin-top: 4px;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms var(--transition-funktion);
}

.coment__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.coment__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement__icon {
  margin-right: 7px;
  fill: transparent;
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-funktion), fill 250ms var(--transition-funktion), box-shadow 250ms var(--transition-funktion);
}

.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
  box-shadow: none;
}

.agreement__checkbox:focus + .agreement__icon {
  outline: 1px solid #000000;
}

.agreement__text {
  font-size: 11px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .agreement__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__link {
  display: block;
  font-size: 11px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-left: 0.4em;
}
/*# sourceMappingURL=main.css.map */