@import './utils/variables';
@import './utils/modern-normalize';
@import './utils/base-styles';
@import './utils/mixins';
@import './utils/visually-hidden';
@import './utils/is-hidden';
@import './components/small-components/logo';
@import './components/small-components/button';
@import './components/small-components/backdrop';
@import './components/small-components/section-styles';
@import './components/small-components/container';
@import './components/header';
@import './components/hero';
@import './components/advantages';
@import './components/techniques';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/portfolio';
@import './components/modal-window';
