.clients__title {
  text-align: center;
  @include font(36px, 700, 1.17, 0.03em);
  color: var(--title-text-color);
  margin: 0 0 50px 0;
}
.companies {
  display: flex;
  justify-content: center;
}
.companies__item:not(:last-child) {
  margin-right: 30px;
}
.companies__link {
  justify-content: center;
  @include flex-alignment();
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;
  transition: color 250ms var(--transition-funktion);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.companies__icon {
  fill: currentColor;
}
