.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}
.companies__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.companies__link {
  justify-content: center;
  @include flex-alignment();
  height: 92px;
  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;
  transition: color 250ms var(--transition-funktion);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.companies__icon {
  fill: currentColor;
}
