.header {
  border-bottom: #ececec 1px solid;
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  @include flex-alignment();
  justify-content: space-between;
}
.logo--dark {
  color: #000000;
}
.site-nav {
  display: none;
  // display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  position: relative;
  @include font($fw: 500);
  color: var(--title-text-color);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  transition: color 250ms var(--transition-funktion);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: none;
  // @include flex-alignment();
  margin-left: auto;
}
.contacts__item:last-child {
  margin-left: 50px;
}

.contacts__link {
  @include font($fw: 500);
  color: var(--primeri-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  transition: color 250ms var(--transition-funktion);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.menu-btn {
  border: none;
  background-color: transparent;
}
.menu-btn__icon {
  .menu-btn:hover & {
    fill: var(--accent-color);
  }
  .menu-btn:focus & {
    fill: var(--accent-color);
  }
}
// --------------------MENU-----------------------------
.menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 48px 0 48px 30px;
  transform: scale(1);
  transition: transform 250ms var(--transition-funktion),
    visibility 250ms var(--transition-funktion),
    opacity 250ms var(--transition-funktion);
}
.menu.is-hidden {
  transform: translateX(100%);
}
.menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.menu__close-icon {
  .menu__close-btn:hover & {
    fill: var(--accent-color);
  }
  .menu__close-btn:focus & {
    fill: var(--accent-color);
  }
}

.menu-nav {
  margin-bottom: auto;
}
.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-nav__link {
  @include font(40px, 500, 1.18, 0.02em);
  color: var(--title-text-color);
  text-decoration: none;
  &:focus {
    color: var(--accent-color);
  }
  &:hover {
    color: var(--accent-color);
  }
}
.menu-nav__link--curreent-color {
  color: var(--accent-color);
}
.meny-tel__link {
  margin-bottom: 32px;
  @include font(34px, 500, 1.18, null);
  color: var(--accent-color);
}
.menu-adres__link {
  margin-bottom: 64px;
  @include font(24px, 500, 1.17, null);
  color: var(--primeri-text-color);
  text-decoration: none;
  &:hover {
    color: var(--accent-color);
    &:focus {
      color: var(--accent-color);
    }
  }
}
.menu-social {
  @include flex-alignment();
  flex-wrap: wrap;
}
.menu-social__item:not(:last-child) {
  margin-right: 10px;
}
.menu-social__link--stick:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 2px;
  height: 22px;
  background-color: var(--primeri-text-color);
}
.menu-social__link {
  @include font(18px, 500, 1.22, null);
  text-decoration: none;
  color: var(--accent-color);
}
