.header {
  border-bottom: #ececec 1px solid;
}

.header__container {
  padding-top: 7px;
  padding-bottom: 7px;
  @include flex-alignment();
  justify-content: space-between;
  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.logo--dark {
  color: #000000;
  margin-right: auto;
  @include desktop {
    margin-right: 93px;
  }
}
.site-nav {
  display: none;
  @include tablet {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  position: relative;
  @include font($fw: 500);
  color: var(--title-text-color);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  transition: color 250ms var(--transition-funktion);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    flex-direction: row;
  }
}
.contacts__item:not(:last-child) {
  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-right: 30px;
  }
  // margin-left: 50px;
}

.contacts__link {
  @include font($fw: 500);
  color: var(--primeri-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  transition: color 250ms var(--transition-funktion);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.menu-btn {
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
}
.menu-btn__icon {
  .menu-btn:hover & {
    fill: var(--accent-color);
  }
  .menu-btn:focus & {
    fill: var(--accent-color);
  }
}
