.hero {
  background-color: #2f303a;
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/bg-mobile2x-min.jpg);
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) {
    padding: 118px 189px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-tablet2x-min.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/bg-desktop2x-min.jpg);
  }
}

.hero__tile {
  display: block;
  @include font(26px, 900, 1.6, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px auto;
  display: block;
  max-width: 700px;
  @media screen and (min-width: 1200px) {
    @include font(44px, null, 1.36, null);
  }
}
