.menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 48px 0 48px 30px;
  transform: scale(1);
  transition: transform 250ms var(--transition-funktion),
    visibility 250ms var(--transition-funktion),
    opacity 250ms var(--transition-funktion);
}
.menu.is-hidden {
  transform: translateX(100%);
}
.menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.menu__close-icon {
  .menu__close-btn:hover & {
    fill: var(--accent-color);
  }
  .menu__close-btn:focus & {
    fill: var(--accent-color);
  }
}

.navigation {
  margin-bottom: auto;
}
.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}
.navigation__link {
  @include font(40px, 500, 1.18, 0.02em);
  color: var(--title-text-color);
  text-decoration: none;
  &:focus {
    color: var(--accent-color);
  }
  &:hover {
    color: var(--accent-color);
  }
}
.navigation__link--curreent-color {
  color: var(--accent-color);
}
.navigation__tel-link {
  margin-bottom: 32px;
  @include font(34px, 500, 1.18, null);
  color: var(--accent-color);
}
.navigation__adres-link {
  margin-bottom: 64px;
  @include font(24px, 500, 1.17, null);
  color: var(--primeri-text-color);
  text-decoration: none;
  &:hover {
    color: var(--accent-color);
    &:focus {
      color: var(--accent-color);
    }
  }
}
.networks {
  @include flex-alignment();
  flex-wrap: wrap;
}
.networks__item:not(:last-child) {
  margin-right: 10px;
}
.networks__link--stick:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 2px;
  height: 22px;
  background-color: var(--primeri-text-color);
}
.networks__link {
  @include font(18px, 500, 1.22, null);
  text-decoration: none;
  color: var(--accent-color);
}
