.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  // min-width: 528px;
  // min-height: 581px;
  max-width: 450px;
  max-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  @include flex-alignment;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--transition-funktion);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__title {
  margin-bottom: 12px;
  @include font(20px, 700, 1.15, 0.03em);
  text-align: center;
  color: var(--title-text-color);
}
.form__label {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input {
  display: block;
  position: relative;
  margin-top: 4px;
}

.input__row {
  display: block;
  min-width: 448px;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--transition-funktion);
  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--transition-funktion);
  .input__row:focus + & {
    fill: var(--accent-color);
  }
}

.coment {
  @extend .form__label;
}
.coment__textarea {
  display: block;
  margin-top: 4px;
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms var(--transition-funktion);
  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}

.coment__textarea::placeholder {
  @include font($ls: 0.01);
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  @include flex-alignment();
  justify-content: center;
  margin-bottom: 30px;
  @include font(14px, 400, 1.71, 0.03em);
}

.agreement__icon {
  margin-right: 7px;
  fill: transparent;
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-funktion),
    fill 250ms var(--transition-funktion),
    box-shadow 250ms var(--transition-funktion);
  .agreement__checkbox:checked + & {
    background-color: var(--accent-color);
    border: none;
    fill: #ffffff;
    box-shadow: none;
  }
  .agreement__checkbox:focus + & {
    outline: 1px solid #000000;
  }
}

.agreement__link {
  color: var(--accent-color);
  padding-left: 0.4em;
}
