.filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
  @include tablet {
    margin-bottom: 40px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__item {
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 0;
  }
}

.filter__button {
  text-align: center;
  @include font(16px, 500, 1.63, 0.03em);
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 5px 22px;
  transition: background-color 250ms var(--transition-funktion),
    box-shadow 250ms var(--transition-funktion),
    color 250ms var(--transition-funktion);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.grid {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.grid__item:not(:last-child) {
  margin-bottom: 30px;
}
.grid__item {
  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @include desktop {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.description--height {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 148px;
  }
}
.product {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--transition-funktion);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product__img-holder {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 63px 24px;
  @include font(18px, 400, 1.56, 0.03em);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--transition-funktion);
  .product:hover &,
  .product:focus & {
    transform: translateY(-100%);
  }
}

.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.description__title {
  margin-bottom: 4px;
  @include font(18px, 700, 2, 0.06em);
  color: var(--title-text-color);
}
.description__text {
  color: var(--primeri-text-color);
  @include font(16px, 400, 1.87, 0.03em);
}
