.backdrop {
  position: fixed;
  padding: 20px 15px;
  top: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 250ms var(--transition-funktion),
    visibility 250ms var(--transition-funktion),
    opacity 250ms var(--transition-funktion);
}
.backdrop.is-hidden {
  transform: scale(1.25);
}
