.button {
  display: block;
  @include font(16px, 700, 1.87, 0.06em);
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--transition-funktion);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}