.logo {
  font-family: var(--secondery-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
  // margin-right: 93px;
}
