.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section__title {
  text-align: center;
  @include font(28px, 700, 1.17, 0.03em);
  color: var(--title-text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 1.66, 0.03em);
    margin-bottom: 50px;
  }
}
