@mixin flex-alignment($df: flex, $ai: center) {
  display: $df;
  align-items: $ai;
}
@mixin font($fs: 14px, $fw: 400, $lh: 1.14, $ls: 0.02em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin phone {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
