:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondery-footer-color: rgba(255, 255, 255, 0.6);
  --transition-funktion: cubic-bezier(0.4, 0, 0.2, 1);
  --primeri-font-family: 'Roboto', sans-serif;
  --secondery-font-family: 'Raleway', sans-serif;
}
